.App {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.searchBar {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.searchBar input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 1em;
}

table {
  border-spacing: 0px;
}

table tr:hover {
  background-color: mintcream;
}

th {
  background-color: darkslategray;
  color: white;
}

th:first-child {
  border-right: 2px solid white;
}

th, td {
  padding: 10px;
  min-width: 200px;
}

tr:nth-child(even) {
  background-color: whitesmoke;
  border-radius: 5px;
}